temp
__pycache__
generated
latent_infer
datasets/
checkpoints/
wandb/
.ipynb_checkpoints/
evals/
bad_files.txt
outputs/
output_logs/
evals/
imgs/
imgs_align/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio code files
.vscode/